<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Visable</key>
		<true/>
		<key>ToolTip</key>
		<string>Apple Push</string>
		<key>ItemImageName</key>
		<string>applepush</string>
		<key>StoryBoardName</key>
		<string>SmartPush</string>
		<key>ClassName</key>
		<string>PushViewController</string>
	</dict>
	<dict>
		<key>Visable</key>
		<true/>
		<key>ToolTip</key>
		<string>Wallpaper</string>
		<key>ItemImageName</key>
		<string>wallpaper</string>
		<key>StoryBoardName</key>
		<string>WallPaper</string>
		<key>ClassName</key>
		<string>JKWallPaperViewController</string>
	</dict>
	<dict>
		<key>Visable</key>
		<true/>
		<key>ToolTip</key>
		<string>Encode</string>
		<key>ItemImageName</key>
		<string>encode</string>
		<key>StoryBoardName</key>
		<string>Encoding</string>
		<key>ClassName</key>
		<string>JKEncodingViewController</string>
	</dict>
	<dict>
		<key>Visable</key>
		<true/>
		<key>ToolTip</key>
		<string>Json To Model</string>
		<key>ItemImageName</key>
		<string>jsonmodel</string>
		<key>StoryBoardName</key>
		<string>JSONModel</string>
		<key>ClassName</key>
		<string>JKJSONModelViewController</string>
	</dict>
	<dict>
		<key>Visable</key>
		<true/>
		<key>ToolTip</key>
		<string>Resize Image</string>
		<key>ItemImageName</key>
		<string>imgresize</string>
		<key>StoryBoardName</key>
		<string>ResizeImage</string>
		<key>ClassName</key>
		<string>JKResizeImageViewController</string>
	</dict>
	<dict>
		<key>Visable</key>
		<true/>
		<key>ToolTip</key>
		<string>Move File</string>
		<key>ItemImageName</key>
		<string>movefile</string>
		<key>StoryBoardName</key>
		<string>MoveFile</string>
		<key>ClassName</key>
		<string>JKMoveFileViewController</string>
	</dict>
	<dict>
		<key>Visable</key>
		<true/>
		<key>ToolTip</key>
		<string>Status Icon Manager</string>
		<key>ItemImageName</key>
		<string></string>
		<key>StoryBoardName</key>
		<string>StatusIcon</string>
		<key>ClassName</key>
		<string>JKStatusIconManagerViewController</string>
	</dict>
	<dict>
		<key>Visable</key>
		<true/>
		<key>ToolTip</key>
		<string>Image Info</string>
		<key>ItemImageName</key>
		<string></string>
		<key>StoryBoardName</key>
		<string>ImageInfo</string>
		<key>ClassName</key>
		<string>JKImageInfoViewController</string>
	</dict>
	<dict>
		<key>Visable</key>
		<true/>
		<key>ToolTip</key>
		<string>Auto Pack</string>
		<key>ItemImageName</key>
		<string></string>
		<key>StoryBoardName</key>
		<string>AutoPack</string>
		<key>ClassName</key>
		<string>JKAutoPackViewController</string>
	</dict>
	<dict>
		<key>Visable</key>
		<true/>
		<key>ToolTip</key>
		<string>QRCode</string>
		<key>ItemImageName</key>
		<string>qrcode</string>
		<key>StoryBoardName</key>
		<string>QRCode</string>
		<key>ClassName</key>
		<string>JKQRCodeViewController</string>
	</dict>
	<dict>
		<key>Visable</key>
		<true/>
		<key>ToolTip</key>
		<string>JSON Format</string>
		<key>ItemImageName</key>
		<string></string>
		<key>StoryBoardName</key>
		<string>JSONFormat</string>
		<key>ClassName</key>
		<string>JKJSONFormatViewController</string>
	</dict>
	<dict>
		<key>Visable</key>
		<true/>
		<key>ToolTip</key>
		<string>Shell Manager</string>
		<key>ItemImageName</key>
		<string></string>
		<key>StoryBoardName</key>
		<string>ShellManager</string>
		<key>ClassName</key>
		<string>JKShellManagerViewController</string>
	</dict>
	<dict>
		<key>Visable</key>
		<true/>
		<key>ToolTip</key>
		<string>Clock</string>
		<key>ItemImageName</key>
		<string>clock</string>
		<key>StoryBoardName</key>
		<string>Clock</string>
		<key>ClassName</key>
		<string>JKClockViewController</string>
	</dict>
	<dict>
		<key>Visable</key>
		<true/>
		<key>ToolTip</key>
		<string>Lottie Animate Preview</string>
		<key>ItemImageName</key>
		<string></string>
		<key>StoryBoardName</key>
		<string>LottiePreviewer</string>
		<key>ClassName</key>
		<string>JKLottiePreviewController</string>
	</dict>
	<dict>
		<key>Visable</key>
		<true/>
		<key>ToolTip</key>
		<string>Live 2d</string>
		<key>ItemImageName</key>
		<string></string>
		<key>StoryBoardName</key>
		<string>Live2d</string>
		<key>ClassName</key>
		<string>JKLive2dViewController</string>
	</dict>
</array>
</plist>
